@import url(./reset.css);

/* About Page */

.about_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  margin: 20px 100px;
}

.about_story {
  max-width: 500px;
  min-height: 600px;
  line-height: 1.6;
  color: #0a3641;
  text-align: justify;
  margin-left: 20px;
}

.about_story h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.about_image {
  max-width: 400px;
  max-height: 550px;
  margin: 10px 10px;
}

@media only screen and (max-width: 768px) {
  .about_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    margin: 20px 0;
  }
}
