@import url("./reset.css");
@import url(./variables.css);

/* Contact Us / Sign up */

.contact_container,
.signup_container {
  max-width: 500px;
  padding: 20px;
  margin: 20px 400px;
  background: #fff;
  border-radius: 5px;
}

.contact_title,
.signup_title {
  text-align: center;
  color: var(--color-primary);
}

label {
  display: block;
  margin: 10px 0 5px;
  color: var(--color-primary);
  align-items: center;
}

textarea,
input {
  width: 100%;
  margin-bottom: 5px;
  padding: 6px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  opacity: 25%;
}

.contact_cta {
  margin-bottom: 20px;
}

.sign_cta {
  margin-top: 20px;
}

.cta-small {
  background: #53a4b9;
  border: none;
  color: var(--color-secondary);
  border-radius: 5px;
  padding: 15px 70px;
  margin-top: 7px;
  cursor: pointer;
  max-width: 250px;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .contact_container {
    padding: 20px;
    margin: 20px 20px;
    background: #fff;
    border-radius: 5px;
  }
}
