/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */

/*body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}*/

@font-face {
  font-family: "Poppins Medium";
  src: url(../assets/fonts/Poppins-Medium.ttf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  border: green solid;
}

.banner {
  border: red solid;
}

.column {
  border: blue solid;
}

.product-container {
  border: lightgreen solid;
}

.footer-container {
  border: black solid;
}

.logo,
.logo-footer {
  width: 140px;
  height: 60px;
}

.profile-icon,
.icon {
  max-width: 30px;
  margin-top: 30px;
  margin-left: 70px;
}

.navbar {
  background-color: #e2e9eb;
  padding: 20px;
  display: flex;
}

.navlist li {
  display: inline-block;
  margin-top: 40px;
  margin-left: 130px;
}

.navlist a:hover,
.footer-heading a:hover {
  color: #53a4b9;
  transition: 0.3s ease-out;
}

header a {
  color: #0a3641;
  text-decoration: none;
}

.banner {
  background-image: url("../assets/images/banner.jpg");
  min-height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  position: relative;
}

.banner-content {
  max-width: 50%;
  position: absolute;
  top: 150px;
  left: 200px;
  text-align: center;
  border: red solid;
}

h1 {
  font-size: 30px;
  font-weight: 400;
}

.cta-big {
  padding: 20px 95px;
  border-radius: 10px;
  background: #53a4b9;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  min-width: 30%;
}

.cta-small {
  left: 250px;
  top: 100px;
  background: #53a4b9;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 15px 20px;
}

.product-item {
  padding: 100px;
  background-color: #e2e9eb;
  margin: 50px;
  position: relative;
}

.footer-container {
  background-color: #e2e9eb;
}

.footer {
  width: 80%;
  background-color: #e2e9eb;
  color: #0a3641;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin: 0 4rem;
}

.footer-heading h2 {
  margin-bottom: 2em;
}

.footer-heading a {
  color: #0a3641;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
