/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */

/*body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  width: 150px;
  height: 80px;
  padding: 10px;
  padding-left: 40px;
  align-items: center;
}

.navbar {
  background-color: #e2e9eb;
  padding: 20px;
  display: flex;
}

.navlist li {
  text-decoration: none;
  display: inline-block;
  margin-top: 40px;
  margin-left: 200px;
}

.navlist a:hover {
  text-decoration: underline;
}

header a {
  color: #0a3641;
  text-decoration: none;
}

.cta-big {
  padding: 15px 20px;
  border-radius: 10px;
  background: #53a4b9;
  color: #fff;
  border: none;
  cursor: pointer;
}

.banner {
  background-image: url("../assets/images/banner.jpg");
  min-height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 50px;
  left: 100px;
}

.banner h1 {
  font-size: 20px;
}

.cta-big {
  position: absolute;
  left: 350px;
  top: 100px;
}
