/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */

/*body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  width: 150px;
  height: 80px;
  padding: 10px;
  padding-left: 40px;
  align-items: center;
}

.navbar {
  background-color: #e2e9eb;
  padding: 20px;
  display: flex;
}

.navlist li {
  text-decoration: none;
  display: inline-flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 100px;
}

.navlist a:hover,
.footer-heading a:hover {
  color: #53a4b9;
  transition: 0.3s ease-out;
}

header a {
  color: #0a3641;
  text-decoration: none;
}

.cta-big {
  padding: 15px 20px;
  border-radius: 10px;
  background: #53a4b9;
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 350px;
  top: 100px;
}

.banner {
  background-image: url("../assets/images/banner.jpg");
  min-height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  position: relative;
}

.banner-content {
  max-width: 900px;
  position: absolute;
  top: 100px;
  left: 100px;
  text-align: center;
}

.banner h1 {
  font-size: 20px;
  max-width: 80%;
}

.cta-small {
  left: 250px;
  top: 100px;
  background: #53a4b9;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 15px 20px;
}

.product-item {
  padding: 100px;
  background-color: #e2e9eb;
  margin: 50px;
  position: relative;
}

.footer-container {
  background-color: #e2e9eb;
}

.footer {
  width: 80%;
  background-color: #e2e9eb;
  color: #0a3641;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin: 0 4rem;
}

.footer-heading h2 {
  margin-bottom: 2em;
}

.footer-heading a {
  color: #0a3641;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
